* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* CSS LAYOUT UTILITIES */
.boxed {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}


.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}


.flex-wrap {
    flex-wrap: wrap;
}

.padded-container-small {
    padding: 0.5rem 0;
}

.padded-container-big {
    padding: 2rem 0;
}

.card {
    width: 220px;        
    min-height: 320px;    
    border: 1px solid #000;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.none{
    display: none;
}

.block{
    display: block;
}

mb-2{
    margin-bottom: 2rem;
}